@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
    padding: 0 24px;
    font-family: 'Montserrat';
}

nav{
    position: fixed;
    background-color: #fff;
}
main{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.left{
    display: flex;
    flex-direction: column;
    
}