@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #fff;
}
.to{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4rem;
    float: left;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
.btn{
    background: #8e44ad;
    border-radius: 24px;
    display: inline-block;
    padding: 0 24px;
    color: #fff;
    font-family: 'Open Sans';
}
.btn-d{
    position: absolute;
    transform: translate(-50%,-60%);
    top:57%;
    
    left: 50%;
    animation: HeroSlideIn forwards .5s;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    

}
li {
    padding: 10px;
    font-family: 'Open Sans';
    
}
nav{
    position: sticky;
    top: 0;

}
#container{
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar{
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 30px;
    border: 2px solid black;
    border-radius: 30px;
    height: 30px;
}

span{
    font-family: "Poppins";
}

input::placeholder{
    color: red;
    font-weight: 400;
    font-family: 'Poppins';
    
}
input{
    padding: 0 12px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    height: 30px;
}

.logo{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
    background: rgb(219,111,38);
    background: linear-gradient(90deg, rgba(219,111,38,1) 0%, rgba(209,156,27,1) 18%, rgba(111,87,189,1) 64%, rgba(188,25,240,1) 87%, rgba(0,0,0,1) 100%); 
}




a{
    color: #000;
}

.h-left{
    font-family: "Poppins";
   
}
.container{
    max-width: 1500px;
    padding: 0 24px;
}
main .container{
   display: grid;
   grid-template-columns: repeat(12,1fr);
    
}
.left{
    height: 100%;
    grid-column: 1/4;
}
.left h1{
    font-size: 3rem;
}
.right{
    height: 100%;
    grid-column: 5/13;
    display: flex;
    gap: 2rem;
}
.pic{
    
    background-position: center top;
    background-size: auto 100%;
    border-radius: .5rem;
    flex-shrink: 1;
    transition: width 300ms ease;
    width: 30%;
    font-family: 'Poppins';
    text-align: center;
}
.pic:hover{
    width: 40%;
    cursor: pointer;
}
.nav-a:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
} 

@keyframes HeroSlideIn {
    0% {
        top: 50%;
        opacity: 0;
    }

    100% {
        top: 70%;
        opacity: 1;
    }
}

footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:10%;
   width:100%;
   background:#999;
   font-family: 'Open Sans';
   text-align: center;
    
}